<p> Hi <%= @name %>, </p>

<p>
  Thanks for reaching out to us. Give us 48 hours and we'll get back to you.
</p>

<p>
  In the meantime, feel free to play around with our demo <a href='www.palmos.co/sign-in'>here</a>. Just use "palmos" / "palmos" for the username and password.
</p>
