@import 'colors';
@import 'mixins';

$top-nav-height: 60px;
$map-header-height: 50px;
$map-filter-width: 250px;
$map-status-width: 275px;

// SMALL
@media all and (min-width: 0px) {
	.dashboard-main-view,
	.dashboard-main-sub-view,
	.dashboard {
		flex-direction: column;
	}
	.left-filter {
		height: fit-content;
		width: 100%;
	}
	#top-nav {
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	}
}

// LARGE
@media all and (min-width: 800px) {
	.left-filter {
		height: 100%;
		width: $map-filter-width;
	}
	.right-status {
		height: 100%;
		width: $map-status-width;
	}
	.dashboard {
		flex-direction: row;
	}
	.dashboard-main-sub-view {
		flex-direction: row;
	}
}

#nav-palmos {
	@include no-user-select();
	// background-image: url('./images/palmos_text.png');
	z-index: 19;
	position: relative;
	float: left;
	width: $map-filter-width;
	color: white;
	height: $top-nav-height;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
	background: $palmos-blue;

	h1 {
		@include vertical-align();
		left: 10%;
		font-weight: 100;
		color: $palmos-off-white;
	}
}

#top-nav {
	z-index: 20;
	width: calc(100% - 250px);
	position: relative;
	float: right;
	color: white;
	height: $top-nav-height;
	background: $palmos-blue;
}

.dashboard {
	display: flex;
	padding: 0;
	margin: 0;
	position: absolute;
	top: $top-nav-height;
	bottom: 0;
	left: 0;
	right: 0;
}

.dashboard-main-view {
	display: flex;
	flex: 1;
	order: 2;
	background: $palmos-off-white;
}

.dashboard-main-sub-view {
	display: flex;
	flex: 1;
	order: 2;
}

.map {
	order: 1;
	flex: 1;
}

.map-header {
	width: 100%;
	position: relative;
	z-index: 12;
	box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	height: $map-header-height;

	.header-overview {
		padding: 0 20px;
		display: table;
		height: 100%;
		width: 100%;
	}

	h4 {
		padding: 0 10px;
		font-weight: 400;
		display: table-cell;
		vertical-align: middle;
		color: $palmos-dark-blue;
	}

	h5 {
		@extend h4;
		color: $palmos-grey;
	}
}

.left-filter {
	order: 1;
	z-index: 15;
	box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
	background: $palmos-dark-blue;
}

.right-status {
	overflow: scroll;
	order: 2;
	z-index: 5;
	box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
	background-color: $palmos-off-white;
}
