@import 'colors';
@import 'mixins';

.map-header-overview {
	@include no-user-select();
	padding: 0 20px;
	display: table;
	height: 100%;
	cursor: default;
}

.map-nav-tab {
	cursor: pointer;
	padding: 0 20px;
	font-size: 16px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: $palmos-blue;

	#map-nav-detail {
		cursor: default;
		margin: 0;
	}
}

#header-last-update {
	cursor: default;
	height: 100%;
	width: fit-content;
	display: table;
	position: absolute;
	right: 0;
	text-align: center;
}

#header-last-update > * {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}
