
<p id="alert"><%= alert if alert%></p>
<div class="row">
  <div class="small-12 columns">
    <h1 class="text-center top-padded">Ripple</h1>
    <div class="callout">
      <p>
        <strong>Ripple</strong>
        is a music sharing and discovery platform.
        <strong>Ripple</strong>
        is here to make us that $$$$$$$
      </p>
      <% if user_signed_in? %>
        <p>
          Welcome back, #{current_user.first_name}.
        </p>
      <% else %>
        <p>
          If you're new to
          <strong>Ripple,</strong>
          you can
          <%= link_to "sign up here.", sign_up_path %>
        </p>
      <% end %>
    </div>
  </div>
</div>
