@import 'colors';
@import 'mixins';

fieldset {
	border: none;
	outline: none;
}

.form-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $palmos-background-color;
}

#sign-in-instructions {
	color: $palmos-dark-grey;
	text-align: center;
}

.register-forms {
	@include center();
	display: inline-grid;
	text-align: center;
	width: 90%;
	max-width: 400px;
	margin: 0;
	padding: 0;
}

#button-cta {
	border: none;
	font-family: inherit;
	font-size: inherit;
	display: inline-block;
	background-color: $palmos-background-color;
	color: $palmos-turquoise;
	border: 1px solid $palmos-turquoise;
	padding: 3px 5px;
	border-radius: 5px;
	text-decoration: none;
	width: fit-content;
	cursor: pointer;
	margin: 10px;
}

#button-outline {
	@extend #button-cta;
	background: none;
	padding: 3px 5px;
	border: 1px solid $palmos-dark-grey;
	color: $palmos-dark-grey;
}

.credentials[type='text'],
.credentials[type='password'] {
	position: relative;
	@include placeholder {
		color: $palmos-dark-grey;
	}
	width: 80%;
	margin: 2% auto;
	padding: 2%;
	font-weight: 300;
	border-radius: 7px;
	font-size: 1.5em;
	color: $palmos-dark-grey;
	background-color: $palmos-background-color;
	border: 1px solid $palmos-dark-grey;
}

input:not([type='checkbox']) {
	border: none;
	outline: none;
}

.form-submit-button {
	visibility: hidden;
}

#lock-icon {
	border: 1px solid $palmos-dark-grey;
	width: fit-content;
	margin: auto;
	border-radius: 200px;
	margin-bottom: 5px;
	padding: 15px 25px;
	color: $palmos-dark-grey;
}

.register-form-error {
	width: 80%;
	margin: 2% auto;
	padding: 2%;
	border-radius: 7px;
	background-color: orange;
}

#error {
	box-shadow: 0 0 5px orange;
}

#forgot-password-link {
	color: $palmos-grey;
	text-decoration: none;

	&:hover {
		color: $palmos-turquoise;
	}
}

.sensor-nickname-form {
	margin-top: 5%;
}
