$palmos-background-color: #292929;

$palmos-grey: #605e5e;
$palmos-dark-grey: #6f6f6f;
$palmos-turquoise: #67d5c6;
$palmos-blue: #203657;
$palmos-dark-blue: #1f2f49;
$palmos-darker-blue: #1a2741;
$palmos-off-white: #f8f9fb;
