@import 'colors';
@import 'mixins';

#current-detail {
	@include no-user-select();
	margin: 20px;
	color: $palmos-grey;

	#current-detail-name {
		margin-bottom: 10px;
	}

	#detail-lat-lng {
		margin-top: 20px;
		font-weight: 300;
		font-size: 16px;
	}
	#detail-altitude {
		font-weight: 16px;
		font-weight: 300;
	}

	#detail-data {
		font-weight: 16px;
		font-weight: 400;
		float: right;
	}

	.nickname-form-error {
		margin: 8px 0;
		padding: 8px;
		border-radius: 5px;
		font-size: 14px;
		background-color: orange;
	}

	.sensor-nickname-input[type='text'] {
		font-family: inherit;
		font-size: 1em;
		font-weight: 300;
		background: none;
		margin-top: 6px;
		width: 80%;
	}
}

#detail-status {
	display: inline-block;
	width: 100%;
	padding: 10px 0;

	h3 {
		float: left;
		font-weight: 300;
		width: fit-content;
		display: inline-block;
		color: $palmos-turquoise;
	}

	h4 {
		@extend h3;
		color: $palmos-grey;
	}

	#analyze {
		cursor: pointer;
		display: inline-block;
		padding: 3px 8px;
		font-size: 14px;
		float: right;
		border-radius: 5px;
		color: $palmos-off-white;
		background: $palmos-turquoise;
	}

	#data {
		float: right;
		font-size: 16px;
		color: $palmos-grey;
		background: none;
		font-weight: 500;
		width: fit-content;
	}
}

#sensor-section-divider {
	padding: 0px;
	width: 100%;
	border: 0;
	height: 1px;
	margin: 15px 0;
	background-color: rgba(0, 0, 0, 0.15);
}

// .data-graph {
// 	background: red;
// 	position: relative;
// 	left: -10%;
// 	padding: 0;
// 	margin: 0;
// }
