@import 'colors';
@import 'mixins';

#filter-title {
	@include no-user-select();
	font-weight: 300;
	margin: 25px 17px;
	font-size: 13px;
	display: inline-block;
	color: $palmos-off-white;
}

#filter-status {
	@include no-user-select();
	@extend #filter-title;
	margin: 15px;
}

#current-sensor-count {
	display: inline-block;
	color: $palmos-turquoise;
}

#total-sensor-count {
	display: inline-block;
	color: darken($palmos-off-white, 25%);
}

#filter-reset {
	@include no-user-select();
	cursor: pointer;
	@extend #filter-title;
	margin: 0;
	font-weight: 12px;
	width: fit-content;
	padding: 2px 5px;
	border-radius: 4px;
	background: $palmos-turquoise;
}

#map-filter {
	@include no-user-select();
	background-color: $palmos-darker-blue;
	color: $palmos-off-white;
	height: 40px;
	width: 80%;
	padding: 0 5%;
	margin: 0 5%;
	border-radius: 5px;
}

#section-divider {
	padding: 0px;
	width: 100%;
	border: 0;
	height: 1px;
	margin: 5px 0;
	background-color: rgba(0, 0, 0, 0.15);
}

.filter-category {
	@include no-user-select();
	cursor: pointer;
	height: fit-content;
	#filter-category-top {
		padding: 10px;
	}
	#filter-category-top:hover {
		background: $palmos-darker-blue;
	}
	h4 {
		font-weight: 300;
		margin: 10px;
		color: #fff;
	}
	h5 {
		margin: 10px;
		font-weight: 300;
		color: #757575;
	}
	li {
		margin: 5px 10px;
		list-style: none;
		font-weight: 200;
		font-size: 14px;
		padding: 10px;
		color: #fff;
	}
	li:hover {
		background: $palmos-darker-blue;
	}
}
