// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'mixins';
@import 'font-awesome';

@import 'nav-top';
@import 'login';

* {
	margin: 0;
	padding: 0;
}

body {
	background: $palmos-grey;
	// font-family: 'Montserrat', Fallback, sans-serif;

	main {
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
	}
}
