@import 'colors';
@import 'mixins';

fieldset {
	border: none;
}

#session_login[type='text'],
textarea {
	font-weight: 200;
	text-align: center;
	border-radius: 10px;
	height: 50px;
	font-size: 1.5em;
	background-color: $palmos-blue;
	color: white;
	border: 1px solid $palmos-dark-blue;
}

#session_password[type='password'],
textarea {
	text-align: center;
	font-weight: 200;
	border-radius: 10px;
	height: 50px;
	font-size: 1.5em;
	background-color: $palmos-blue;
	color: #fff;
	border: 1px solid $palmos-dark-blue;
}

#lock-icon {
	border: 1px solid $palmos-blue;
	border-radius: 200px;
	margin-bottom: 5px;
	padding: 15px 25px;
	color: $palmos-dark-blue;
}

.sign-in-error {
	margin-bottom: 22px;
	color: $palmos-dark-blue;
}
